* {
    margin: auto;
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

@font-face{
    font-family: 'doll';
    src: url('doll.ttf') format('truetype');
}

body {
    font-family: 'doll', sans-serif;
    background-color: lightpink;
    color: rgb(146, 52, 52);
    text-align: center;
    line-height: 1.8;
    font-weight: bold;
}

#textbox {
    text-align: center;
    margin: 20px auto;
    font-size: 1.2em;
}

#form-intro {
    padding: 50px;
    margin: 20px auto;
    text-align: left;
    font-size: 1.2em;
    background-color: lightyellow;
    border-radius: 10px;
    width: 45%;
}

#goto-form {
    text-decoration: none;
    background-color: rgb(146, 52, 52);
    color: lightyellow;
    border-radius: 10px;
    padding: 0 5px;
}

lottie-player {
    margin: 0 auto;
}

table,
td,
th {
    margin: auto;
    border: 4px solid lightyellow;
    border-radius: 10px;
}

.tableHead {
    display: inline-flex;
}

table ul, table ol {
    text-align: left;
    line-height: 2.4; /*different hight with body*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* *****navbar style by Tony***** */
header {
    /*make the navbar stick at the top*/
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    background-color: lightpink;
    z-index: 1000;
}

#navbar {
    /*the actual container for nav elements*/
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 4px solid lightyellow;
    border-radius: 10px;
    font-size: 20px;
    padding: 1px;
}

#nav-list {
    list-style: none;
    padding: 0;
}

#nav-list>* {
    display: inline-block;
    border: 2px dotted transparent;
    margin: 0 20px;
    padding: 0 5px;
}

#nav-list a {
    text-decoration: none;
    color: rgb(146, 52, 52);
}

#nav-list li:hover {
    border: 2px dotted lightyellow;
    border-radius: 10px;
}

#nav-button {
    text-decoration: none;
    background-color: rgb(146, 52, 52);
    color: lightyellow;
    border-radius: 10px;
    padding: 0 5px;
}

#dropdown-button {
    display: none;
}

@media (max-width: 1160px) {
    #nav-list>* {
        margin: auto
    }
}

@media (max-width: 893px) {

    /*dropdown menu for smaller screens*/
    #dropdown-button {
        display: block;
    }

    #nav-list {
        display: none;
        position: absolute;
    }

    #dropdown:hover #nav-list {
        display: block;
        background-color: lightyellow;
    }

    #dropdown:hover #nav-list li {
        display: block;
    }

    #nav-list li:hover {
        border: 2px dotted rgb(146, 52, 52);
        border-radius: 10px;
    }
}

/* *****end of navbar style***** */

/*.googlemap,
#video {
    display: inline-block;
}*/
/* .iframe2 {
    display: inline-flex;
    column-gap: 20px;
    align-items: flex-end;
} */

h3 {
    text-decoration: underline;
    line-height: 20px;
    display: inline-block;
    text-align: left;
}

#video {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

/* #googlemap {
    border: 100;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
} */

form hr {
    width: 15%;
    border-top: 5px dotted;
}

.googlemap{
    display: inline-block;
}

#top {
    align-items: start;
    top:0px
}
