* {
    margin: auto;
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

body {
    font-family: 'Pacifico', cursive;
    background-color: lightpink;
    color: rgb(146, 52, 52);
    text-align: center;
}

#textbox {
    width: 60vw;
    text-align: center;
    margin: 20px auto;
    font-size: 1.2em;
}

#form-intro {
    padding: 50px;
    margin: 20px auto;
    text-align: left;
    font-size: 1.2em;
    background-color: lightyellow;
    border-radius: 10px;
}

#goto-form {
    text-decoration: none;
    background-color: rgb(146, 52, 52);
    color: lightyellow;
    border-radius: 10px;
    padding: 0 5px;
}

#message,
#cuisine {
    display: block;
    margin: 0 auto 10px auto;
}

lottie-player {
    margin: 0 auto;
}

table,
td,
th {
    margin: auto;
    border: 4px solid lightyellow;
    border-radius: 10px;
}

.tableHead {
    display: inline-flex;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* old navbar style
header {
    margin: auto;
}

nav {
    background-color: rgb(255, 242, 225);
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .2);
    margin-top: 100px;
    height: 80px;
}

nav ul {
    list-style: none;
    float: right;
    display: inline-flex;
    line-height: 80px;
    gap: 20px;
    margin-right: 20px;
    font-size: 30px;
}*/

/* *****navbar style by Tony***** */
header {
    /*make the navbar stick at the top*/
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    background-color: lightpink;
    z-index: 1000;
}

#navbar {
    /*the actual container for nav elements*/
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 4px solid lightyellow;
    border-radius: 10px;
    font-size: 20px;
    padding: 1px;
}

#nav-list {
    list-style: none;
    padding: 0;
}

#nav-list>* {
    display: inline-block;
    border: 2px dotted transparent;
    margin: 0 20px;
    padding: 0 5px;
}

#nav-list a {
    text-decoration: none;
    color: rgb(146, 52, 52);
}

#nav-list li:hover {
    border: 2px dotted lightyellow;
    border-radius: 10px;
}

#nav-button {
    text-decoration: none;
    background-color: rgb(146, 52, 52);
    color: lightyellow;
    border-radius: 10px;
    padding: 0 5px;
}

#dropdown-button {
    display: none;
}

@media (max-width: 1046px) {
    #nav-list>* {
        margin: auto
    }
}

@media (max-width: 782px) {

    /*dropdown menu for smaller screens*/
    #dropdown-button {
        display: block;
    }

    #nav-list {
        display: none;
        position: absolute;
    }

    #dropdown:hover #nav-list {
        display: block;
        background-color: lightyellow;
    }

    #dropdown:hover #nav-list li {
        display: block;
    }

    #nav-list li:hover {
        border: 2px dotted rgb(146, 52, 52);
        border-radius: 10px;
    }
}

/* *****end of navbar style***** */

.googlemap,
#video {
    display: inline-block;
}

h3 {
    text-decoration: underline;
    line-height: 20px;
    display: inline-block;
    text-align: left;
}

#video {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

#googlemap {
    border: 100;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

form hr {
    width: 15%;
    border-top: 5px dotted;
}

/*margins on both sides as the body area in middle for width 780px*/
.oneColFixCtr #container {
    width: 780px; /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
    margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
}